*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#05070d;
    color:white;
}

header{
    background:linear-gradient(135deg,#001f3f,#0066ff);
    text-align:center;
    padding:20px;
    box-shadow:0 0 20px #0066ff;
}

header h1{
    font-size:32px;
}

main{
    width:95%;
    max-width:600px;
    margin:20px auto;
}

.box,.ranking{
    background:#101722;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 0 15px rgba(0,102,255,.4);
}

input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    background:#1b2636;
    color:white;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#0066ff;
    color:white;
    font-size:18px;
    font-weight:bold;
}

button:active{
    transform:scale(.98);
}

.team{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px;
    border-bottom:1px solid #2a3d55;
}

.team:last-child{
    border-bottom:none;
}

.rank{
    color:#00bfff;
    font-weight:bold;
}

.point{
    color:#4cff7d;
}

@media(max-width:600px){

header h1{
font-size:26px;
}

button{
font-size:16px;
}

}
table{

width:100%;
border-collapse:collapse;
margin-bottom:20px;

}

th{

background:#0066ff;
padding:12px;

}

td{

padding:8px;

}

td input{

margin:0;

}
